/Commons/Commons/bin
/Commons/Commons/obj
/Commons/.vs
/Commons/.vs/*
/Commons/Commons/Properties/PublishProfiles/FolderProfile1.pubxml.user
/Commons/Commons/Properties/PublishProfiles/FolderProfile1.pubxml
/Commons/Commons/Properties/PublishProfiles/FolderProfile.pubxml.user
/Commons/Commons/Properties/PublishProfiles/FolderProfile.pubxml
